import init.sony.usb.rc
import init.sony.service.rc

on early-init
    mkdir /storage 0050 system sdcard_r
    mkdir /storage/sdcard0 0000 system system
    mkdir /storage/sdcard1 0000 system system

    # for backwards compatibility
    symlink /storage/sdcard0 /mnt/sdcard
    symlink /storage/sdcard0 /sdcard
    symlink /storage/sdcard1 /external_sd
    symlink /storage/sdcard1 /mnt/external_sd

    mkdir /mnt/usbdisk 0755 system system

    export EXTERNAL_STORAGE /storage/sdcard0
    export SECONDARY_STORAGE /storage/sdcard1

on emmc-fs
    mount_all /fstab.sony

    # SEMC, TA Daemon
    class_start trimarea
    exec /system/bin/wait4tad
    class_start emmc
    start setssflagbc
    write /sys/devices/virtual/bdi/179:32/read_ahead_kb 512

on early-boot
    # set RLIMIT_MEMLOCK to 64MB
    setrlimit 8 67108864 67108864

on post-fs
    exec system/bin/btnvtool -O
    chown bluetooth bluetooth /sys/module/bluetooth_power/parameters/power
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /proc/bluetooth/sleep/proto
    chown system system /sys/module/sco/parameters/disable_esco
    chown bluetooth bluetooth /sys/module/hci_smd/parameters/hcismd_set
    chmod 0660 /sys/module/bluetooth_power/parameters/power
    chmod 0660 /sys/module/hci_smd/parameters/hcismd_set
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chmod 0660 /proc/bluetooth/sleep/proto
    chown bluetooth bluetooth /dev/ttyHS0
    chmod 0660 /dev/ttyHS0
    chown bluetooth bluetooth /sys/devices/platform/msm_serial_hs.0/clock
    chmod 0660 /sys/devices/platform/msm_serial_hs.0/clock

    chown root system /sys/class/input/input3/bandwidth
    chown root system /sys/class/input/input3/debug
    chown root system /sys/class/input/input3/delay
    chown root system /sys/class/input/input3/enable
    chown root system /sys/class/input/input3/interrupt
    chown root system /sys/class/input/input3/mode
    chown root system /sys/class/input/input3/range
    chown root system /sys/class/input/input3/reg
    chown root system /sys/class/input/input3/sensitivity
    chown root system /sys/class/input/input3/value

    chown root system /sys/class/input/input4/bandwidth
    chown root system /sys/class/input/input4/debug
    chown root system /sys/class/input/input4/delay
    chown root system /sys/class/input/input4/enable
    chown root system /sys/class/input/input4/interrupt
    chown root system /sys/class/input/input4/mode
    chown root system /sys/class/input/input4/range
    chown root system /sys/class/input/input4/reg
    chown root system /sys/class/input/input4/sensitivity
    chown root system /sys/class/input/input4/value

    chown root system /sys/class/input/input5/bandwidth
    chown root system /sys/class/input/input5/debug
    chown root system /sys/class/input/input5/delay
    chown root system /sys/class/input/input5/enable
    chown root system /sys/class/input/input5/interrupt
    chown root system /sys/class/input/input5/mode
    chown root system /sys/class/input/input5/range
    chown root system /sys/class/input/input5/reg
    chown root system /sys/class/input/input5/sensitivity
    chown root system /sys/class/input/input5/value

    chown root system /sys/class/input/input6/bandwidth
    chown root system /sys/class/input/input6/debug
    chown root system /sys/class/input/input6/delay
    chown root system /sys/class/input/input6/enable
    chown root system /sys/class/input/input6/interrupt
    chown root system /sys/class/input/input6/mode
    chown root system /sys/class/input/input6/range
    chown root system /sys/class/input/input6/reg
    chown root system /sys/class/input/input6/sensitivity
    chown root system /sys/class/input/input6/value

    chown root system /sys/class/input/input7/bandwidth
    chown root system /sys/class/input/input7/debug
    chown root system /sys/class/input/input7/delay
    chown root system /sys/class/input/input7/enable
    chown root system /sys/class/input/input7/interrupt
    chown root system /sys/class/input/input7/mode
    chown root system /sys/class/input/input7/range
    chown root system /sys/class/input/input7/reg
    chown root system /sys/class/input/input7/sensitivity
    chown root system /sys/class/input/input7/value

    chown root system /sys/class/input/input8/bandwidth
    chown root system /sys/class/input/input8/debug
    chown root system /sys/class/input/input8/delay
    chown root system /sys/class/input/input8/enable
    chown root system /sys/class/input/input8/interrupt
    chown root system /sys/class/input/input8/mode
    chown root system /sys/class/input/input8/range
    chown root system /sys/class/input/input8/reg
    chown root system /sys/class/input/input8/sensitivity
    chown root system /sys/class/input/input8/value

    chown root system /sys/class/compass/akm8975/accel

    #Create QMUX deamon socket area
    mkdir /dev/socket/qmux_radio 0770 radio radio
    chmod 2770 /dev/socket/qmux_radio
    mkdir /dev/socket/qmux_audio 0770 media audio
    chmod 2770 /dev/socket/qmux_audio
    mkdir /dev/socket/qmux_bluetooth 0770 bluetooth bluetooth
    chmod 2770 /dev/socket/qmux_bluetooth
    mkdir /dev/socket/qmux_gps 0770 gps gps
    chmod 2770 /dev/socket/qmux_gps

    setprop wifi.interface wlan0

    setprop ro.wifi.eap_sim_enabled true

    chown wifi wifi /dev/wlandev
    chmod 0660 /dev/wlandev

    # Enable Bluetooth 802.11 PAL when Bluetooth is turned on
    setprop ro.config.bt.amp no

    #Set SUID bit for usbhub
    chmod 4755 /system/bin/usbhub
    chmod 755 /system/bin/usbhub_init

    #Remove SUID bit for iproute2 ip tool
    chmod 0755 /system/bin/ip

    #port-bridge
    chmod 0660 /dev/smd0
    chown system system /dev/smd0

    #BT DUN port-bridge
    chmod 0660 /dev/smd7
    chown bluetooth bluetooth /dev/smd7

    chmod 0444 /sys/devices/platform/msm_hsusb/gadget/usb_state

    # create symlink for fb1 as HDMI
    symlink /dev/graphics/fb1 /dev/graphics/hdmi

    # Remove write permissions to video related nodes
    chmod 0664 /sys/devices/virtual/graphics/fb1/hpd
    chmod 0664 /sys/devices/virtual/graphics/fb1/video_mode
    chmod 0664 /sys/devices/virtual/graphics/fb1/format_3d

    # Change owner and group for media server and surface flinger
    chown system system /sys/devices/virtual/graphics/fb1/format_3d

    #For bridgemgr daemon to inform the USB driver of the correct transport
    chown radio radio /sys/class/android_usb/f_rmnet_smd_sdio/transport

    # Change group to allow PRC process add logs to smem
    chmod 0660 /dev/smem_log
    chown root qcom_oncrpc /dev/smem_log

    # Configure and enable KSM
    write /sys/kernel/mm/ksm/pages_to_scan 600
    write /sys/kernel/mm/ksm/sleep_millisecs 3000
    write /sys/kernel/mm/ksm/run 1

    #To allow interfaces to get v6 address when tethering is enabled
    write /proc/sys/net/ipv6/conf/rmnet0/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet1/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet2/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet3/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet4/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet5/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet6/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet7/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_sdio0/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_sdio1/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_sdio2/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_sdio3/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_sdio4/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_sdio5/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_sdio6/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_sdio7/accept_ra 2

    mount debugfs debugfs /sys/kernel/debug

    #Permission for Lights
    chown system system /sys/class/led/fih_led/control
    chown system system /sys/devices/virtual/graphics/fb0/msmfb_bl0/brightness

    #vibrator
    chown system system /sys/class/vibrator/pmic-vib/control

on post-fs-data
    mkdir /data/misc/bluetooth 0770 bluetooth bluetooth

    # Create the directories used by the Wireless subsystem
    mkdir /data/misc/wifi 0770 wifi wifi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/wifi/wpa_supplicant 0770 wifi wifi
    mkdir /data/misc/dhcp 0770 dhcp dhcp
    chown dhcp dhcp /data/misc/dhcp

    # Create directory used by audio subsystem
    mkdir /data/misc/audio 0770 audio audio

    # Mounting of persist is moved to 'on emmc-fs' and 'on fs' sections
    # We chown/chmod /persist again so because mount is run as root + defaults
    chown system system /persist
    chmod 0771 /persist
    chmod 0664 /sys/devices/platform/msm_sdcc.1/polling
    chmod 0664 /sys/devices/platform/msm_sdcc.2/polling
    chmod 0664 /sys/devices/platform/msm_sdcc.3/polling
    chmod 0664 /sys/devices/platform/msm_sdcc.4/polling

    # Chown polling nodes as needed from UI running on system server
    chown system system /sys/devices/platform/msm_sdcc.1/polling
    chown system system /sys/devices/platform/msm_sdcc.2/polling
    chown system system /sys/devices/platform/msm_sdcc.3/polling
    chown system system /sys/devices/platform/msm_sdcc.4/polling

    mkdir /data/system 0775 system system

    #Create directories for wiper services
    mkdir /data/wpstiles/ 0755 shell
    mkdir /data/wiper 0755 gps qcom_oncrpc

    #Create directories for gpsone_daemon services
    mkdir /data/misc/gpsone_d 0770 system system

    #Create directories for QuIPS
    mkdir /data/misc/quipc 0770 gps system

    #Create directories for Location services
    mkdir /data/misc/location 0770 gps gps
    mkdir /data/misc/location/mq 0770 gps gps
    mkdir /data/misc/location/xtwifi 0770 gps gps

    #Create directory from IMS services
    mkdir /data/shared 0755
    chown system system /data/shared

    #Create directory for FOTA
    mkdir /data/fota 0771
    chown system system /data/fota

    #Provide the access to hostapd.conf only to root and group
    chmod 0660 /data/hostapd/hostapd.conf

    # Create /data/time folder for time-services
    mkdir /data/time/ 0700 system system

    setprop vold.post_fs_data_done 1

service setmsflagbc /system/bin/startupflag bootstarted
    user root
    oneshot
    disabled

# Set the startup flag to boot complete, run on property change
service setssflagbc /system/bin/startupflag bootcomplete
    class main
    user root
    oneshot
    disabled

#service atfwd /system/bin/ATFWD-daemon
#    class late_start
#    user main
#    group system radio
#    onrestart /system/bin/log -t RIL-ATFWD -p w "ATFWD daemon restarted"

on property:dev.bootcomplete=1
    start setssflagbc

service hciattach /system/bin/brcm_patchram_plus --enable_hci --enable_lpm \
    --use_baudrate_for_download --tosleep 20000 --scopcm 0,4,0,0,0,0,0,0,3,0 \
    --no2bytes --baudrate 3000000 --patchram /system/etc/bcm4330/BCM4330B1_002.001.003.0750.0775.hcd \
    /dev/ttyHS0
    class main
    user bluetooth
    group bluetooth net_bt_admin qcom_oncrpc
    disabled
    oneshot

service updatemiscta /system/bin/updatemiscta
    class emmc
    user root
    oneshot

# SEMC, TA rmt service
service ta_rmt_service /system/bin/ta_rmt_service
    class emmc
    user root

service p2p_supplicant /system/bin/logwrapper /system/bin/wpa_supplicant \
    -iwlan0 -Dnl80211 -c/data/misc/wifi/wpa_supplicant.conf -N \
    -ip2p0 -Dnl80211 -c/data/misc/wifi/p2p_supplicant.conf -e/data/misc/wifi/entropy.bin -puse_p2p_group_interface=1
    #   we will start as root and wpa_supplicant will switch to user wifi
    #   after setting up the capabilities required for WEXT
    #   user wifi
    #   group wifi inet keystore
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

service wpa_supplicant /system/bin/logwrapper /system/bin/wpa_supplicant \
    -iwlan0 -Dnl80211 -c/data/misc/wifi/wpa_supplicant.conf -e/data/misc/wifi/entropy.bin
    #   we will start as root and wpa_supplicant will switch to user wifi
    #   after setting up the capabilities required for WEXT
    #   user wifi
    #   group wifi inet keystore
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

service dhcpcd_wlan0 /system/bin/dhcpcd -aABKL
    class main
    disabled
    oneshot

service dhcpcd_p2p /system/bin/dhcpcd -aABKL
    class main
    disabled
    oneshot

service dhcpcd_bnep0 /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

service dhcpcd_eth0 /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

service iprenew_wlan0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service iprenew_p2p /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service iprenew_bnep0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service cnd /system/bin/cnd
    class main
    socket cnd stream 666 root radio

service qmuxd /system/bin/qmuxd
    class main
    user radio
    group radio audio bluetooth gps qcom_diag

service netmgrd /system/bin/netmgrd
    class late_start

# SEMC, TA Daemon
service tad /system/bin/tad /dev/block/mmcblk0 8,16,256
    class trimarea
    user root
    group root
    socket tad stream 0660 system system

on property:init.svc.wpa_supplicant=stopped
    stop dhcpcd

on property:sys.radio.shutdown=true
   exec /system/bin/sh /system/etc/init.qcom.efs.sync.sh

service nvcustomizer /system/bin/nvcustomizer
    class trimarea
    user root
    disabled
    oneshot

on property:ro.emmc=1
    start nvcustomizer

on property:ro.use_data_netmgrd=false
    # netmgr not supported on specific target
    stop netmgrd

service bridgemgrd /system/bin/bridgemgrd
    class late_start
    user radio
    group radio
    disabled

service port-bridge /system/bin/port-bridge /dev/smd0 /dev/ttyGS0
    class late_start
    user system
    group system inet
    disabled

service qmiproxy /system/bin/qmiproxy
    class main
    user radio
    group radio
    disabled

# Adjust socket buffer to enlarge TCP receive window for high bandwidth
# but only if ro.data.large_tcp_window_size property is set.
on property:ro.data.large_tcp_window_size=true
    write /proc/sys/net/ipv4/tcp_adv_win_scale  1

service wiperiface /system/bin/wiperiface
    user gps
    group qcom_oncrpc net_raw
    oneshot

