on init
    write /sys/class/android_usb/android0/f_rndis/wceis 1
	#/*MTD-CONN-EH-MTP_PCCOMPANION-00+{*/
	setprop ro.usb.pid_suffix 170
	#/*MTD-CONN-EH-MTP_PCCOMPANION-00+}*/

#MTD-CONN-EH-POWEROFFCGARGING-00+{	
on poweroff-chg
	write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 0FCE
    write /sys/class/android_usb/android0/idProduct E170
    write /sys/class/android_usb/android0/functions mass_storage
    write /sys/class/android_usb/android0/enable 1	
#MTD-CONN-EH-POWEROFFCGARGING-00+}

#FIH-SW3-CONN-MW-2020_PORTING-00+[
service qcom-usb-sh /system/bin/sh /init.qcom.usb.sh
    class late_start
    user root
    oneshot
#FIH-SW3-CONN-MW-2020_PORTING-00+]
